html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// Inputs Container

.inputs-container {
  background-color: rgba(0, 0, 0, 0.4);
}

.loading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  height: 30rem;
  width: 30rem;

  .loading-speech {
    pointer-events: none;
    position: absolute;
    left: -5rem;
    top: -7rem;
    background-color: #fff;
    border: 1px solid black;
    padding: 2rem 3rem;
    border-radius: 45%;
    &::after {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #f00;
    }
  }
}

// Show Pokemons Container

.show-pokemons {
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@keyframes floatingSpeech {
  0% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

// @keyframes floatingSpeech
//   from
//     transform: translateY(0)
//   55%
//     transform: translateY(-2rem)
//   to
//     transform: translateY(0)
